<!DOCTYPE html>
<head>
  <%- include('partials/head')%>
  <link rel="stylesheet" href="/css/picPage.css" />
</head>

<html lang="en">
  <body>
    <%- include('partials/navbar')%>
    <div class="seperator">
      <div class="container">
        <div
          class="panel active"
          style="
            background-image: url('https://res.cloudinary.com/dijsqclbt/image/upload/v1674954780/picPage/curvyTree_xkzgy1.jpg');
          "
        ></div>
        <div
          class="panel"
          style="
            background-image: url('https://res.cloudinary.com/dijsqclbt/image/upload/v1674954760/picPage/alcove_vfi5nz.jpg');
          "
        ></div>
        <div
          class="panel"
          style="
            background-image: url('https://res.cloudinary.com/dijsqclbt/image/upload/v1674954765/picPage/waterView_g4ncz7.jpg');
          "
        ></div>
        <div
          class="panel"
          style="
            background-image: url('https://res.cloudinary.com/dijsqclbt/image/upload/v1674954770/picPage/downhillTrees_oeunmt.jpg');
          "
        ></div>
        <div
          class="panel"
          style="
            background-image: url('https://res.cloudinary.com/dijsqclbt/image/upload/v1674954771/picPage/cemetaryTree_btmydg.jpg');
          "
        ></div>
      </div>
    </div>
  </body>
  <script src="js/picPage.js"></script>
</html>
