<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/projects.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar')%>
    <section class="projectList">
      <div class="singleProject">
        <h3>YelpCamp</h3>
        <a
          href="https://yelp-camp-web-dev-course-5hz0pqnsm-pseudovamp.vercel.app/"
          target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/yelpcampThumbnail.png"
            alt="YelpCampThumbnail"
          />
        </a>
        <p>
          A campsite review website, created from Colt Steele's course on Udemy.
        </p>
      </div>
      
      <div class="singleProject">
        <h3>Cat Stuff</h3>
        <a href="https://pseudovamp.itch.io/cat-stuff" target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/catStuffThumbnail.png"
            alt="cat-stuff-game"
          />
        </a>
        <p>A platformer game created in Godot.</p>
      </div>
      <div class="singleProject">
        <h3>Kill All Zombies!</h3>
        <a href="https://pseudovamp.itch.io/kill-all-zombies" target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/zombieThumbnail.png"
            alt="kill-all-zombies-game"
          />
        </a>
        <p>A shoot em' up game created in Godot.</p>
      </div>
      <div class="singleProject">
        <h3>Survival text game</h3>
        <a href="/survival" target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/survivalGameThumbnail.png"
            alt="Survival text game"
          />
        </a>
        <p>A text based adventure game.</p>
      </div>
      <div class="singleProject">
        <h3>Visual Music Scales</h3>
        <a href="/musicNotes" target=""
          ><img
            class="thumbnail"
            src="/pics/scaleThumbnail.png"
            alt="Music Scales Piano"
          />
        </a>
        <p>A visual representation of music scales and the modes.</p>
      </div>
    </section>
  </body>
</html>