<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/survival.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Broken+Fax&display=swap"
      rel="stylesheet"
    />
    <img src="/pics/firstLayerSpace.png" style="display: none" alt="" />
    <img src="/pics/secondLayerSpace.png" style="display: none" alt="" />
    <img src="/pics/thirdLayerSpace.png" style="display: none" alt="" />
    <img src="/pics/fourthLayerSpace.png" style="display: none" alt="" />
    <title>Alien Survival</title>
  </head>
  <body>
    <div id="app-container" class="centerDiv">
      <h1 id="mainUserDisplayText" class="animatedText"></h1>
      <div id="buttonHolder">
        <button id="choiceOne">Press the blinking "eject" button.</button>
        <button id="choiceTwo">Check your surroundings.</button>
      </div>
    </div>
    <script type="module" src="js/survival.js"></script>
  </body>
</html>
